{% extends "base.html"%}
{% load static %}

{%block content%}
    <h3>Top Questions</h3>
    <div class="btn-group justify-content-end question-sorts" role="group" aria-label="Question types">
        <button class="btn btn-light">
          <a href="#">Hot</a>
        </button>
        <button class="btn btn-light">
          <a href="#">Without answer</a>
        </button>
        <button class="btn btn-light">
          <a href="#">Week</a>
        </button>
        <button class="btn btn-light">
          <a href="#">Month</a>
        </button>
    </div>
    {% for question in questions %}
        <div class="card">
          <div class="card-body">
              <div class="row">
                  {% include 'avatar_block.html' with votes=question.votes %}
                  <div class="col">
                      <span class="question-created-time">
                          <i>{{ question.created_at }}</i>
                      </span>
                      <h5 class="card-title">
                          <a class="a-simple" href="{% url 'question' question.pk %}">{{ question.title }}</a>
                      </h5>
                      <h6 class="card-subtitle mb-2 text-muted">
                          {{ question.text | truncatewords_html:27 }}
                      </h6>
                      <div class="row">
                          <div class="col-9">
                              <p class="card-text">
                                  Tags:
                                  {% for tag in question.tags.all %}
                                      <button class="btn btn-light">
                                          <a href="#">{{ tag.text }}</a>
                                      </button>
                                  {% endfor %}
                              </p>
                          </div>
                          <div class="col-3">
                              <button class="btn btn-light">
                                  <a href="#">Answers ({{ question.answer_count }})</a>
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    {% endfor %}
    {% include 'pager.html' %}
{%endblock%}