{% extends "base.html"%}
{% load static %}

{% block title %}
    List Questions -
{% endblock %}

{%block content%}
    <h3>Top Questions</h3>
    <div class="btn-group justify-content-end question-sorts" role="group" aria-label="Question types">
        <button class="btn btn-light" data-toggle="tooltip" data-placement="bottom"
                title="The newest questions">
          <a href="/questions/news">New</a>
        </button>
        <button class="btn btn-light" data-toggle="tooltip" data-placement="bottom"
                title="Questions with the most votes and answers over the last few days">
          <a href="/questions/hot">Hot</a>
        </button>
        <button class="btn btn-light" data-toggle="tooltip" data-placement="bottom"
                title="Questions without answers">
          <a href="/questions/no_answer">Without answer</a>
        </button>
        <button class="btn btn-light" data-toggle="tooltip" data-placement="bottom"
                title="Questions with the most votes and answers over this week">
          <a href="/questions/week">Week</a>
        </button>
        <button class="btn btn-light" data-toggle="tooltip" data-placement="bottom"
                title="Questions with the most votes and answers over this month">
          <a href="/questions/month">Month</a>
        </button>
    </div>
    {% for question in questions %}
        <div class="card">
          <div class="card-body">
              <div class="row">
                  {% include 'inc/avatar_block.html' with obj=question %}
                  <div class="col">
                      <span class="question-created-time">
                          <i>{{ question.created_at }}</i>
                      </span>
                      <h5 class="card-title">
                          <a class="a-simple" href="{% url 'question' question.pk %}">{{ question.title }}</a>
                      </h5>
                      <h6 class="card-subtitle mb-2 text-muted">
                          {{ question.text | truncatewords_html:27 | safe | escape }}
                      </h6>
                      <div class="row">
                          <div class="col-9">
                              {% include 'inc/tags_block.html' %}
                          </div>
                          <div class="col-3">
                              <button class="btn btn-light">
                                  <a href="{% url 'question' question.pk %}#answers">Answers ({{ question.answer_count }})</a>
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    {% endfor %}
    {% if questions.paginator.num_pages > 1 %}
        {% include 'inc/pager.html' with objects=questions %}
    {% endif %}
{%endblock%}