{% extends "base.html" %}
{% load static %}

{% block title %}
    Profile -
{% endblock %}

{% block content %}
    <h3 class="profile-form-title">Edit your profile</h3>
    <div class="card profile-form">
        <div class="card-body">
            <form id="profileForm" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                 <div class="d-table w-100">
                    <div class="d-table-row">
                        <div class="d-table-cell">
                            <label for="login">Login</label>
                        </div>
                        <div class="d-table-cell">
                            <div class="form-group">
                                <input type="text" id="login" class="form-control"
                                       name="login" placeholder="Imam JT" value="{{ user.username }}">
                            </div>
                        </div>
                    </div>
                    <div class="d-table-row">
                        <div class="d-table-cell">
                            <label for="email">Email</label>
                        </div>
                        <div class="d-table-cell">
                            <div class="form-group">
                                <input type="email" id="email" class="form-control" name="email"
                                       readonly value="{{ user.email }}">
                            </div>
                        </div>
                    </div>
                    <div class="d-table-row">
                        <div class="d-table-cell">
                            <label for="nickName">Nickname</label>
                        </div>
                        <div class="d-table-cell">
                            <div class="form-group">
                                <input type="text" id="nickname" class="form-control" name="nickname"
                                       placeholder="Nickname" value="{{ user.profile.nickname }}">
                            </div>
                        </div>
                    </div>
                    <div class="d-table-row">
                        <div class="d-table-cell">
                            <label for="avatar">Avatar</label>
                        </div>
                        <div class="d-table-cell">
                            <div class="avatar-upload">
                                    <img src="{% include 'inc/avatar_img.html' with avatar=user.profile.avatar %}" class="avatar-upload-icon">
                            </div>
                            <div class="form-group">
                                <input type="file" accept="image/jpeg,image/x-png" id="avatar" class="form-control-file" name="avatar">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <small class="form-text errorSignup"> {{ errors }} </small>
                    <button type="submit" class="btn btn-secondary ask-btn w-25">Save</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}