{% extends "base.html" %}
{% load static %}

{%  block content %}
  <div class="row">
      {% include 'avatar_block.html' with votes=question.votes %}
      <div class="col">
          <span class="question-created-time">
              <i>{{ question.created_at }}</i>
          </span>
          <div lass="border-bottom">
            <h4 class="card-title">{{ question.title }}</h4>
          </div>
          <p class="card-text text-justify question-text margin-top-10">
              {{ question.text | safe | escape }}
          </p>
          <div class="row">
              <p class="card-text">
                  Tags:
                  {% for tag in question.tags.all %}
                      <button class="btn btn-light">
                          <a href="#">{{ tag.text }}</a>
                      </button>
                  {% endfor %}
              </p>
          </div>
      </div>
  </div>
    <div class="answers-block">
        <div class="border-bottom">
            <h4>{{ question.answer_count }} Answer{% if question.answer_count > 1 %}s{% endif %}:</h4>
        </div>
        {% for answer in answers %}
            <div class="row margin-top-10">
                <div class="padding-top-20">
                    {% include 'avatar_block.html' with votes=answer.votes %}
                </div>
                <div class="col">
                    <div class="card-body">
                        <p class="card-text text-justify question-text">
                            {{ answer.text  | safe | escape }}
                        </p>
                        <span class="answer-created-time">
                            <i>{{ answer.record_date }}</i>
                        </span>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="isTrue"
                                {{ answer.is_true | yesno:'checked,none' }}>
                          <label class="custom-control-label" for="isTrue">Is true</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-bottom"></div>
        {% endfor %}
    </div>
    <div class="new-answer">
        <div class="margin-top-30">
            <h4> Your answer</h4>
        </div>
        <div>
            <textarea title="answer" id="tinymce"></textarea>
        </div>
        <div class="d-flex justify-content-end margin-top-20">
            <button type="submit" class="btn btn-secondary ask-btn w-25">Submit answer</button>
        </div>
    </div>
{% endblock %}