{% extends "base.html" %}
{% load static %}

{%  block content %}
  <div class="row">
      {% include 'inc/avatar_block.html' with obj=question  %}
      <div class="col">
          <span class="question-created-time">
              <i>{{ question.created_at }}</i>
          </span>
          <div lass="border-bottom">
            <h4 class="card-title">{{ question.title }}</h4>
          </div>
          <p class="card-text text-justify question-text margin-top-10">
              {{ question.text | safe | escape }}
          </p>
          <div class="row">
              {% include 'inc/tags_block.html' %}
          </div>
      </div>
  </div>
    <div class="answers-block" id="answers">
        <div class="border-bottom">
            <h4><span id="answer_count">{{ question.answer_count }}</span> Answer{% if question.answer_count > 1 %}s{% endif %}:</h4>
        </div>
        {% for answer in answers %}
            {% include 'inc/answer.html' %}
        {% endfor %}
    </div>
    <div class="new-answer">
        <form id="addAnswer" method="post" action="{% url 'answer' question.pk %}">
            {% csrf_token %}
            <div class="margin-top-30">
            <h4> Your answer</h4>
            </div>
            <div>
                <textarea name="text" title="answer" id="tinymce"></textarea>
            </div>
            <div class="d-flex justify-content-end margin-top-20">
                <small class="form-text errorSignup"></small>
                <button type="submit" class="btn btn-secondary ask-btn w-25">Submit answer</button>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        function addAnswer(answer) {
            var answers = $('#answers'),
                answer_count = $('#answer_count');

            var a_count = +answer_count.text();
            answer_count.text(++a_count);

            answers.append(answer);
            tinymce.activeEditor.setContent('');
        }

        $(function () {
            var cent = new Centrifuge('ws://askimam.tj:8001/connection/websocket');

            cent.setToken('{{ token }}');
            var channel = 'question_' + '{{ question.pk }}';

            var subscription = cent.subscribe(channel, function(message) {
                var answer = message.data.answer;
                if (answer) {
                    addAnswer(answer);
                }
            });

            cent.connect();
            /*
            subscription.on('subscribe', function() {
                    console.log("subscribed");
            });

            subscription.presence().then(function(message) {
            // presence data received
                console.log(message);
            }, function(err) {
                console.log(err);
                // presence call failed with error
            });

            subscription.history().then(function(message) {
                // history messages received
                console.log(message);
            }, function(err) {
                // history call failed with error
                console.log(err);
            });

            subscription.publish({"input": "hello world"}).then(function() {
                // success ack from Centrifugo received
            }, function(err) {
                // publish call failed with error
            }); */
        });
    </script>

{% endblock %}