<div class="card login">
  <div class="card-header">Sign Up</div>
  <div class="card-body">
      <form>
          <div class="form-group">
            <label for="login">Login</label>
            <input type="email" class="form-control" id="login" placeholder="Login">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="example@mail.com">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="********">
          </div>
          <div class="form-group">
              <label for="repeatPassword">Repeat password</label>
              <input type="password" class="form-control" id="repeatPassword" placeholder="********">
          </div>
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-secondary ask-btn w-25">Sign Up</button>
          </div>
      </form>
  </div>
</div>