{% load static %}
{% load class_name %}

<div class="question-icons-block">
      <div class="avatar-block text-center">
          <img src="{% static '/img/default-avatar.png' %}" class="question-icon">
      </div>
      <div class="question-votes border-bottom">
          <div class="d-inline-block">
            <i class="material-icons vote" id="{{ obj | to_class_name }}" onclick="vote(this, 1);">thumb_up</i>
          </div>
          <div class="votes d-inline-block text-center" id="{{ obj | to_class_name }}_rate">
              {{ obj.rate }}
          </div>
          <div class="d-inline-block vote" id="{{ obj | to_class_name }}" onclick="vote(this, -1);">
              <i class="material-icons">thumb_down</i>
          </div>
      </div>
  </div>